<h1>Remote Vendors</h1>

<table>
  <thead>
  <tr>
    <th>Remote id</th>
    <th>Name</th>
    <th>Email address</th>
  </tr>
  </thead>

  <tbody>
  <% @accounts.entries.each do |vendor| %>
      <tr>
        <td><%= vendor.id %></td>
        <td><%= vendor.name %></td>
        <td><%= vendor.email && vendor.email.address %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<h1>Locals vendors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.email_address %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
